.container {
	margin: 0 auto;
	width: 640px;
}

div.container div {
	width: 640px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 3em;
}

#verweg {	
	background-color: blue;
}

#bijna {
	background-color: orange;
}

#party {
	background-color: red;
}

.hidden {
	display: none;
}

#distance {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width:50px;
	height: 20px;
	line-height: 20px;
	background-color: #333;
	color: #999;
}